$main-gray: #E8E8E8;
$main-primary: #006bba;

$font-family-main: 'Montserrat', helvetica, arial;

$font-weight-normal: 500;
$font-weight-bold: 700;
$font-weight-light: 300;

$horizontal-padding: 64px;

$navbar-height: 80px;

$container-width-desktop: 1000px;
