click==7.1.*
contextlib2
cython==0.29.*
Flask==1.1.*
gunicorn==20.0.*
ipython==7.13.*
itsdangerous==1.1.*
Jinja2==2.11.*
jupyter==1.0.*
labelImg==1.8.*
lxml==4.5.*
MarkupSafe==1.1.*
pandas==1.0.*
Pillow==7.1.*
pycocotools==2.0.*
tensorflow==1.15.*
Werkzeug==1.0.*
